* {
    font-family: Arial, Helvetica, sans-serif;
}

div.hr-line {
    position: relative;
    display: inline-block;
    width: 100%;
    border: 1px solid rgb(206, 205, 205);
}

header {
    color: white;
    background-image: linear-gradient(to right, lightskyblue, darkblue);
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    padding: 5px;
    margin-bottom: 20px;
}

h2 {
    font-size: 30px;
    font-weight: bold;
}

h3 {
    font-size: 25px;
    font-weight: bold;
}

button {
    display: block;
}

#query {
    font-size: 17px;
    border: 1px solid;
}

#search {
    background-color: rgb(206, 205, 205);
    border-radius: 5px;
    color: black;
    display: grid;
    font-size: 17px;
    margin: 15px 0px 15px 0px;
    text-align: center;
    cursor: pointer;
}

#search {
    background-color: lightskyblue;
    color: white;
    margin-bottom: 10px;
}

#day1, #day2, #day3, #day4, #day5 {
    margin: 15px;
}

#fiveday {
    margin-top: 25px;
    margin-bottom: 0px;
    margin-left: 15px; 
}

#dd1, #dd2, #dd3, #dd4, #dd5 {
    font-size: 25px;
}

#loc {
    font-size: 30px;
    font-weight: bold;
}

#block1, #block2 {
    display: inline;
}

.activeday {
    background-color: rgb(4, 4, 99);
    color: white;
    font-weight: bold;
    padding: 10px;
    line-height: 40px;
}

.loc {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.todayBox {
    border: 1px solid;
    margin: 2px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    line-height: 40px;
}

.uvig {
    border: 1px solid;
    background-color: green;
    color: white;
    padding: 3px 20px 3px 20px;
    border-radius: 8px;
}

.uvim {
    border: 1px solid;
    background-color: orange;
    color: white;
    padding: 3px 20px 3px 20px;
    border-radius: 8px;
}

.uvib {
    border: 1px solid;
    background-color: rgb(216, 4, 4);
    color: white;
    padding: 3px 20px 3px 20px;
    border-radius: 8px;
}

.cityHist {
    background-color: rgb(206, 205, 205);
    border-radius: 5px;
    color: black;
    display: grid;
    font-size: 17px;
    margin: 15px 0px 15px 0px;
    text-align: center;
    cursor: pointer;
}