* {
    font-family: Arial, Helvetica, sans-serif;
}

div.hr-line {
    position: relative;
    display: inline-block;
    width: 100%;
    border: 1px solid rgb(206, 205, 205);
}

header {
    color: white;
    background-image: linear-gradient(to right, lightskyblue, darkblue);
    text-align: center;
    font-size: 20px;
    padding: 5px;
    margin-bottom: 20px;
}

button {
    display: block;
}

#aus, #chi, #nyc, #orl, #sfr, #sea, #den, #atl, #search {
    background-color: rgb(206, 205, 205);
    border-radius: 5px;
    color: black;
    display: grid;
    font-size: 15px;
    margin: 15px 0px 15px 0px;
    text-align: center;
    cursor: pointer;
}

#search {
    background-color: lightskyblue;
    color: white;
    margin-bottom: 10px;
}

#day1, #day2, #day3, #day4, #day5 {
    margin: 15px;
}

.activeday {
    background-color: darkblue;
    color: white;
}